@page
@model RegisterModel
@{
    ViewData["Title"] = "Sign Up";
    Layout = "Shared/_Layout";
}

<h2>Sign Up</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="error"><strong>Error:</strong> @Model.ErrorMessage</div>
}

<form method="post">
    @Html.AntiForgeryToken()
    <dl>
        <dt>Username:</dt>
        <dd><input type="text" name="Username" value="@Model.Username" size="30"></dd>
        <dt>E-Mail:</dt>
        <dd><input type="text" name="Email" value="@Model.Email" size="30"></dd>
        <dt>Password:</dt>
        <dd><input type="password" name="psw" size="30"></dd>
        <dt>Password <small>(repeat)</small>:</dt>
        <dd><input type="password" name="Password2" size="30"></dd>
    </dl>
    <div class="actions"><input type="submit" value="Sign Up"></div>
</form>
