@inherits MessageBase
@rendermode InteractiveServer


<div class="card mb-3" style="max-width: 1000px;">
    <div class="card-header d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <img src="@MessageDto.GetGravatarUrl()" class="rounded-circle me-3" alt="User Image" style="width: 40px; height: 40px;">
            <h5 class="card-title mb-0">
                <a href="/timeline/@MessageDto.Username" class="card-link">@MessageDto.Username</a>
            </h5>
        </div>
        @if (Userstate.IsLoggedIn && Userstate.Username != MessageDto.Username)
        {
            if (DoseLoggedInUserFollowUser())
            {
                <button class="btn btn-unfollow rounded" @onclick="Unfollow">Unfollow</button>     
            }
            else
            {
                <button class="btn btn-follow rounded" @onclick="Follow">Follow</button>
            }
        }
    </div>
    <div class="card-body">
        <p class="card-text">@MessageDto.Text</p>
        <p class="card-text">
            @(DateTimeOffset.FromUnixTimeSeconds(MessageDto.PubDate).DateTime.ToString("yyyy-MM-dd HH:mm:ss"))        </p>
    </div>
</div>