@page "/test"
@using Web.Services.DTO_s

<div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src=@MessageDto.GravatarUrl class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><a href="#" class="card-link">@MessageDto.Username</a></h5>
                <p class="card-text">@MessageDto.Message</p>
                <p class="card-text"><small class="text-body-secondary">@MessageDto.PubDate</small></p>
                <a href="#" class="card-link">Follow/Unfollow</a>
            </div>
        </div>
    </div>
</div>

@code {

    private DisplayMessageDto MessageDto { get; set; } = new DisplayMessageDto(
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras cursus justo ante, et sollicitudin arcu mollis sit amet. Sed luctus tempor nisi et dignissim. Etia",
        "Mr. Test", "test@test.com", DateTime.Now);
}