@page "/test"
@using Web.Services.DTO_s

<div class="card mb-3" style="max-width: 1000px;">
    <div class="card-header d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <img src="@MessageDto.GravatarUrl" class="rounded-circle me-3" alt="User Image" style="width: 40px; height: 40px;">
            <h5 class="card-title mb-0">
                <a href="#" class="card-link">@MessageDto.Username</a>
            </h5>
        </div>
        <button class="btn btn-primary">Follow/Unfollow</button>
    </div>
    <div class="card-body">
        <p class="card-text">@MessageDto.Message</p>
        <p class="card-text">
            <small class="text-body-secondary">@MessageDto.PubDate</small>
        </p>
    </div>
</div>

@code {

    private DisplayMessageDto MessageDto { get; set; } = new DisplayMessageDto(
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras cursus justo ante, et sollicitudin arcu mollis sit amet. Sed luctus tempor nisi et dignissim. Etia",
        "Mr. Test", "test@test.com", DateTime.Now);
}